# contenido en las carpetas de dependencia
dependencias/

# plantilla de python
plantilla.py

# caché de las ejecuciones de python
__pycache__/

# archivos de excel
*.xlsx

# todos los archivos de texto excepto los README
Práctica\ propia/*.txt
